    <form [formGroup]="entityForm">
      <fieldset [disabled]="(isLoading$ | async) || !isEdit">
        <mat-form-field class="mat-block">
          <mat-label translate>shift.name</mat-label>
          <input matInput formControlName="name" required autocomplete="off">
          <mat-error *ngIf="entityForm.get('name').hasError('required')">
            {{ 'shift.name-required' | translate }}
          </mat-error>
        </mat-form-field>
      </fieldset>

      <fieldset [disabled]="(isLoading$ | async) || !isEdit">
        <mat-form-field class="mat-block">
          <mat-label translate>shift.areaName</mat-label>
          <input matInput formControlName="areaName" required autocomplete="off">
          <mat-error *ngIf="entityForm.get('areaName').hasError('required')">
            {{ 'shift.area-name-required' | translate }}
          </mat-error>
        </mat-form-field>
      </fieldset>

      <tb-timepicker
      timeText="shift.start-ts"
      [maxDate]="maxStartTimeMs | async"
      formControlName="startTimeMs">
      </tb-timepicker>

      <tb-timepicker
      timeText="shift.end-ts"
      [minDate]="minEndTimeMs | async"
      formControlName="endTimeMs">
      </tb-timepicker>
      
    </form>
