<form [formGroup]="entityForm">
    <fieldset  [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
          <mat-select formControlName="assetId" placeholder="Asset" required (selectionChange)="AssetsChangeEvent($event)">
            <mat-option *ngFor="let item of assetsIds" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="entityForm.get('assetId')">
            {{ 'downtimeEntry.asset-required' | translate }}
          </mat-error>
        </mat-form-field>
    </fieldset>

    <fieldset  [disabled]="(isLoading$ | async) || !isEdit">
        <mat-form-field class="mat-block">
            <mat-select formControlName="deviceId" placeholder="Device" required (focus)="DeviceChangeEvent($event)">
              <ng-container *ngFor="let itemDevice of deviceIds">
                <ng-container *ngIf="itemDevice.to">
                  <mat-option [value]="itemDevice.to" >
                    {{ itemDevice.toName }}
                  </mat-option>
                </ng-container>
                <ng-container *ngIf="itemDevice.id">
                  <mat-option [value]="itemDevice.id" >
                    {{ itemDevice.name }}
                  </mat-option>
                </ng-container>
              </ng-container>
            </mat-select>
            <mat-error *ngIf="entityForm.get('deviceId')">
              {{ 'downtimeEntry.device-required' | translate }}
            </mat-error>
          </mat-form-field>
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
        <tb-datetime
          dateText="downtimeEntry.start-date"
          timeText="downtimeEntry.start-ts"
          [maxDate]="maxStartDateTimeMs | async"
          formControlName="startDateTimeMs"
        ></tb-datetime>
    
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
          <tb-datetime
            dateText="downtimeEntry.end-date"
            timeText="downtimeEntry.end-ts"
            [minDate]="minEndDateTimeMs | async"
            formControlName="endDateTimeMs"
          ></tb-datetime>
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
        <mat-select formControlName="reasonId" placeholder="Reason">
          <ng-container *ngFor="let item of downtimeCodeConfigIds">
              <mat-option [value]="item.id" >
                {{ item.level1 + ' -> ' + item.level2 + ' -> ' + item.level3}}
              </mat-option>
            </ng-container>
        </mat-select>
      </mat-form-field>
    </fieldset>
</form>