<form [formGroup]="entityForm">
    <fieldset  [disabled]="(isLoading$ | async) || !isEdit">
      <mat-form-field class="mat-block">
          <mat-select formControlName="asset" placeholder="Asset" required (selectionChange)="AssetsChangeEvent($event)">
            <mat-option *ngFor="let item of assetsIds" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="entityForm.get('asset')">
            {{ 'downtimeEntry.asset-required' | translate }}
          </mat-error>
        </mat-form-field>
    </fieldset>

    <fieldset  [disabled]="(isLoading$ | async) || !isEdit">
        <mat-form-field class="mat-block">
            <mat-select formControlName="device" placeholder="Device" required (focus)="DeviceChangeEvent($event)">
              <ng-container *ngFor="let itemDevice of deviceIds">
                <ng-container *ngIf="itemDevice.to">
                  <mat-option [value]="itemDevice.to" >
                    {{ itemDevice.toName }}
                  </mat-option>
                </ng-container>
                <ng-container *ngIf="itemDevice.id">
                  <mat-option [value]="itemDevice.id" >
                    {{ itemDevice.name }}
                  </mat-option>
                </ng-container>
                
              </ng-container>
            </mat-select>
            <mat-error *ngIf="entityForm.get('device')">
              {{ 'downtimeEntry.device-required' | translate }}
            </mat-error>
          </mat-form-field>
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
            <tb-datetime formControlName="startDateTimeMs"
            dateText="filter.date"
            timeText="filter.time"
            [showLabel]="true"></tb-datetime>
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
            <tb-datetime formControlName="endDateTimeMs"
            dateText="filter.date"
            timeText="filter.time"
             [showLabel]="true"></tb-datetime>
    </fieldset>

    <fieldset [disabled]="(isLoading$ | async) || !isEdit">
        <mat-form-field class="mat-block">
          <mat-label translate>downtimeEntry.reason</mat-label>
          <input matInput formControlName="reason" autocomplete="off">
        </mat-form-field>
      </fieldset>
</form>